# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/

# IDE
.vscode/
.idea/

# Data & Models (игнорируем тяжелые файлы данных)
data/
models/
*.pt
*.bin
*.onnx

# Logs
*.log

# Local settings
.env